@using AnacondaMVC.Games
@model GameResult

@{
    ViewBag.Title = "SlotMachineSimple";
}

<h2>Slotmachine - Simple</h2>

@using (Html.BeginForm())
{
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Bet</span>
        @Html.TextBox("Bet", (int)Model.Bet, new { @type = "number", @min = 1, @max = ViewBag.MaxBet, @class = "form-control", @placeholder = "100 credits" })
        <input type="submit" value="Pull the lever" class="btn btn-primary" style="margin-left:5px;">
    </div>
}

@{
    if (IsPost)
    {
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                    <th>Column 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.Column1Row1</td>
                    <td>@ViewBag.Column1Row2</td>
                    <td>@ViewBag.Column1Row3</td>
                </tr>
                <tr>
                    <td>@ViewBag.Column2Row1</td>
                    <td>@ViewBag.Column2Row2</td>
                    <td>@ViewBag.Column2Row3</td>
                </tr>
                <tr>
                    <td>@ViewBag.Column3Row1</td>
                    <td>@ViewBag.Column3Row2</td>
                    <td>@ViewBag.Column3Row3</td>
                </tr>
            </tbody>
        </table>
        <hr />
        if (Model.CreditsGained > 0)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    You won!
                </div>
                <div class="panel-body">
                    @Model.CreditsGained Credits
                </div>
            </div>
        }
        else if (Model.Status == ResultStatus.InsufficientCredits)
        {
            <div class="alert alert-info" role="alert">
                <strong>Uh oh</strong>
                Looks like you don't have enough credits to bet that much...
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong>
                You didn't win. Better luck next time...
            </div>
        }
    }
}